{{!< default}}

{{> header}}

{{! The main content area on the homepage }}
<main class="content" role="main">

        <header class="tag-archive-header">
            <h1>{{tag.name}}</h1>
        </header>

        <a class="subscribe icon-feed" href="{{tag.url}}/rss"><span class="tooltip">Subscribe to {{tag.name}} RSS feed</span></a>

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time> {{tags prefix="in "}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>
